Municpl/Municpl.Core/Data/Schemas/Nextbus/RouteConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="route">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="stop">
                <xs:complexType>
                  <xs:attribute name="tag" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                  <xs:attribute name="lat" type="xs:decimal" use="required" />
                  <xs:attribute name="lon" type="xs:decimal" use="required" />
                  <xs:attribute name="stopId" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="direction">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="stop">
                      <xs:complexType>
                        <xs:attribute name="tag" type="xs:unsignedShort" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="tag" type="xs:string" use="required" />
                  <xs:attribute name="title" type="xs:string" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="useForUI" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="path">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="point">
                      <xs:complexType>
                        <xs:attribute name="lat" type="xs:decimal" use="required" />
                        <xs:attribute name="lon" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="tag" type="xs:string" use="required" />
            <xs:attribute name="title" type="xs:string" use="required" />
            <xs:attribute name="color" type="xs:unsignedShort" use="required" />
            <xs:attribute name="oppositeColor" type="xs:string" use="required" />
            <xs:attribute name="latMin" type="xs:decimal" use="required" />
            <xs:attribute name="latMax" type="xs:decimal" use="required" />
            <xs:attribute name="lonMin" type="xs:decimal" use="required" />
            <xs:attribute name="lonMax" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="copyright" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>