Municpl/Municpl.Core/Data/Schemas/Nextbus/RouteList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="route">
          <xs:complexType>
            <xs:attribute name="tag" type="xs:unsignedByte" use="required" />
            <xs:attribute name="title" type="xs:string" use="required" />
            <xs:attribute name="shortTitle" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>